{% if firstItem %}
<div class="grid grid-flow-row grid-cols-12 grid-rows-2 gap-8 mt-24">
    <div class="col-span-3 col-start-1 row-span-2 row-start-1">
      <img class="object-cover w-full h-full" src="https://via.placeholder.com/800x600" />
    </div>
    <div class="col-span-3 col-start-4 row-span-2 row-start-1">
      <p class="font-bold text-purple">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus iaculis ante, et iaculis ipsum accumsan sit amet. Fusce ac ligula ligula. Praesent mauris lectus, faucibus id tempus sit amet, congue ut nibh.</p>
    </div>
    <div class="col-span-5 col-start-7 row-span-2 row-start-1">
      <img class="object-cover h-full" src="https://via.placeholder.com/800x600" />
    </div>
    <div class="relative flex items-center justify-end col-span-3 col-start-10 row-span-2 row-start-1">
      <div class="absolute top-0 right-0 mt-4"><span class="absolute flex w-full h-0.5 -ml-4 bg-purple -left-full top-1/2"></span>Health</div>
      <h1 class="text-3xl font-black text-purple">Lorem Ipsum Dolar</h1>
    </div>
  </div>
{% endif %}
