---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: /tags/{{ tag }}/
---

{% extends 'layouts/base.njk' %}

{% set postListItems = collections[tag] %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/post-list.njk" %}
    </main>
{% endblock %}
