* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
:root {
  --white: #fff;
  --purple: #2d334d;
  --light-blue: #d5d8e0;
  --side-width: 58px;
}
html,
body {
  font-family: Lato, sans-serif;
}
main {
  position: relative;
  min-height: 100vh;
  padding-left: (calc(2 * var(--side-width)));
  aside {
    width: var(--side-width);
    background: var(--purple);
    min-height: 100vh;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
    ul {
      list-style: none;
      li {
        width: var(--side-width);
        height: var(--side-width);
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--white);
        a {
          width: 1.75rem;
          height: 1.75rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--white);
          border-radius: 50%;
          color: var(--white);
          svg {
            color: inherit;
            width: 0.625em;
          }
        }
      }
    }
  }
  nav {
    width: var(--side-width);
    background: var(--light-blue);
    min-height: 100vh;
    position: fixed;
    left: var(--side-width);

    .menu {
      width: 170px;
      height: 100vh;
      background: inherit;
      position: absolute;
      top: 0;
      left: -170px;
      z-index: 1;
      transition: all 0.5s ease;
      overflow: hidden;
      &--logo {
        margin-top: 6rem;
        display: flex;
        justify-content: center;
        img {
          width: 85px;
        }
      }
      ul {
        margin-top: 2.5rem;
        li {
          padding: 0 25px 25px;
          color: var(--purple);
          a {
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }

    label {
      width: var(--side-width);
      height: var(--side-width);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 3;
    }
    .menu--checkbox {
      display: none;
      &:checked {
        ~ .menu {
          left: 0;
        }
      }
    }
  }
}
